{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.name) }}
        {{ form_widget(registrationForm.name) }}
        {{ form_label(registrationForm.firstname) }}
        {{ form_widget(registrationForm.firstname) }}
        {{ form_label(registrationForm.token) }}
        {{ form_widget(registrationForm.token) }}
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}





        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
