{% extends 'base.html.twig' %}

{% block body %}
<article>
{{ form_start(video) }}

    {{ form_label(video.title, 'titre de la video') }}
    {{ form_widget(video.title) }}
    {{ form_label(video.description) }}
    {{ form_widget(video.description) }}
    {{ form_label(video.difficulty, 'entrez la difficulté') }}
    {{ form_widget(video.difficulty) }}
    <button type="submit">Envoyer</button>


{{ form_end(video) }}
</article>
{% endblock %}