{% extends ('base.html.twig') %}

{% block body %}

    <h1>{{ video.title }}</h1>
    <p>{{ video.description }}</p>
    {% if video.media is not empty %}
        <img src="{{ asset('video/') }}{{ video.media[0].url }}" alt="">
        <video controls><source src="{{ asset('video/') }}{{ video.media[1].url }}"></video>
    {% endif %}
    <span>{{ video.difficulty }}</span>
    <a href="{{ path('delete_video', {'id' : video.id}) }}">supprimer la vidéo</a>
    <a href="{{ path('update_video', {'id' : video.id}) }}">modifier la vidéo</a>
    <a href="{{ path('media_video', {'id' : video.id})}}">gestion du flux d'image</a>

{% endblock %}
