{% extends ('base.html.twig') %}
{% block body %}
    <h1>{{ video.title }}</h1>
    <p>{{ video.description }}</p>
    {% if video.media is not empty %}
        <img src="{{ asset('video/') }}{{ video.media[0].url }}">
    {% endif %}
    <span>{{ video.difficulty }}</span>
    <span>{{ video.duration }}</span>
    <span></span>

    {{ dump(video.media) }}
{% endblock %}
