{% extends 'base.html.twig' %}

{% block body %}

    {% for video in videos %}
        <h1>{{ video.title }}</h1>
        <p>{{ video.description }}</p>
        <span>{{ video.difficulty }}</span>
            {% for media in video.media %}
                {% if media.name == 'picture' %}
                    <img src="{{ asset ('video/') }}{{ media.url }}" alt="">
                {% endif %}
            {% endfor %}
        <span>{{ video.status.name}}</span>
        <a href="{{ path ('show_video' , {'id': video.id}) }}">La video</a>
        <a href="{{ path('delete_video', {'id' : video.id}) }}">supprimer la vidéo</a>
        <a href="{{ path('update_video', {'id' : video.id}) }}">modifier la vidéo</a>
        <a href="{{ path('media_video', {'id' : video.id})}}">gestion du flux d'image</a>
    {% endfor %}

{% endblock %}
