{% extends 'base.html.twig' %}
{% block body %}


{% for coach in coaches %}
    {% set medias = coach.media %}
    {{ coach.name }}
    {{ coach.firstname }}
        <img src="{{ asset ('coach/') }}{{ coach.media.url }}" alt="{{ coach.name }}">
    {% for studio in coach.studio %}
        <p>nom de(s) studio(s) avec lesquelles ils travaillent : {{ studio.name }}<br></p>
    {% endfor %}
{% endfor %}
{% endblock %}